#hexagonContainer {
  display: inline-flex;
}

#hexagonContainer > * + * {
  margin-left: 8px;
}

.table {
  display: inline-table;
  width: auto;
  margin-bottom: 0 !important;
}

.table td {
  padding: 0 0.75rem !important;
  height: auto;
  vertical-align: middle !important;
}

.table td:first-child {
  font-weight: bold;
}

.group-button {
  display: flex;
  column-gap: 10px;
  padding: 5px 0.75rem 10px;
}

.json-container {
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.json-container > textarea {
  font-family: monospace;
  font-size: 80%;
  width: 300px;
  height: 100%;
  resize: none;
}

.json-container > .group-button {
  padding-left: 0;
  padding-right: 0;
}